@import './base.css';

a,
.green {
  text-decoration: none;
  color: rgb(0, 107, 189);
  transition: 0.4s;
  padding: 3px;
}

main {
  display: flex;
  background-color: #fff;
}

.d-flex {
  display: flex;
}

.capture {
  font-size: 11px;
}

.text-secondary {
  color: #6c6c6c;
}
